@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-shadow {
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}

.section-heading {
  position: relative;
}
.section-heading::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: #222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 24px);
}
.section-heading::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #6366f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 24px);
}
/* html */
.progress1 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar1 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar1 {
  width: 80%;
  background-color: #6366f1;
  animation: progressAnimation 3s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 80%;
    background-color: #4f46e5;
  }
}

/* CSS */
.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 70%;
  background-color: #6366f1;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 70%;
    background-color: #4f46e5;
  }
}
/* javascript */
.progress3 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar3 {
  width: 70%;
  background-color: #6366f1;
  animation: progressAnimation 5s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 70%;
    background-color: #4f46e5;
  }
}
/* React */

.progress4 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar4 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar4 {
  width: 75%;
  background-color: #6366f1;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 75%;
    background-color: #4f46e5;
  }
}

/* Node */

.progress5 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar5 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar5 {
  width: 40%;
  background-color: #6366f1;
  animation: progressAnimation 3s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 40%;
    background-color: #4f46e5;
  }
}
/* express */
.progress6 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar6 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar6 {
  width: 50%;
  background-color: #6366f1;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 50%;
    background-color: #4f46e5;
  }
}

/* mongodb */
.progress7 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar7 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar7 {
  width: 60%;
  background-color: #6366f1;
  animation: progressAnimation 5s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 60%;
    background-color: #4f46e5;
  }
}
/* next */
.progress8 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar8 {
  height: 12px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar8 {
  width: 50%;
  background-color: #6366f1;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #818cf8;
  }
  100% {
    width: 50%;
    background-color: #4f46e5;
  }
}
